<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jessiepusateri.a290final"
    android:versionCode="1"
    android:versionName="1.0" >
	
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:colorBackground="@color/lightgreen"
        android:theme="@style/MyCustomTheme"
        >
        <activity
            android:name="com.jessiepusateri.a290final.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="History">
        </activity>
        <activity
            android:name=".InstructionsActivity"
            android:label="Instructions">
        </activity>
        <activity
            android:name=".GuessScreenActivity"
            android:label="Guess Screen"
            >
        </activity>
        <activity
            android:name=".CreateNotificationActivity"
            android:label="Create Notification Activity"
            >
        </activity>
        <activity
            android:name=".NoficationReceiverActivity"
            android:label="Notification ReceiverActivity"
            >
        </activity>
        <activity
            android:name=".GuessResultsActivity"
            android:label="Guess Results"
            >
        </activity>
    </application>

</manifest>
